*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* sin nada si es etiqueta */
body{
    background: rgb(184, 177, 177) ;
}
p{
    color:#534c56;
    font-size: 160%;
    line-height: 155%;
    padding: 2%;
    text-indent: 3% ;
    text-align: justify;

}
h3{
    font-size: 180%;
    line-height: 155%;
    font-weight: 500;
    color: darkred;
    text-align: center;
    text-transform: uppercase ; /* esto es para convertir todos los subtitulos en mayusculas*/
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
     color: rgb(229, 231, 67);
}

img{

    display: block;
    margin: 0 center;
    max-width: 140%;
    height: auto;
    width: auto;
    margin-bottom: 4%;
}

/* los id se escriben antecediendo #  */

#wraperr{

    max-width: 1200px;
    margin: 0 auto;

}

#banner_wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0, 0, 3%, 0 ;
}

header{

    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}

header #logo img{
    margin: 20px;
    float: left;
    width: 50px;
}
/*navegacion*/
/* es para mandar a la derecha inicio, habilidades, portafolio, ect. y centrar al medio del icono*/
nav{
    float: right;
    padding:20px 20px 0 0 ;
}




/* es el icono q solo se muestra en pantallas pequeñas, sino que desaparezcan*/
#menu-icon{

    display: none;
    font-size: 50px;

}
ul{
    list-style: none; /*es para eliminar los puntos o viñetas*/
}

/* esto es para tener en una fila, inicio, habilidades, portafolio, nuestro equipo, contactos*/
nav ul li{
    font-size: 150%;
    display: inline-block;
    float:left;
    padding: 10px;
}

nav ul li a{
    color: rgb(128, 0, 0);

}
/* para modificar y llamar una clase se antecede con un . */
.current {
    color: rgb(28, 22, 110);
}

/*esto es para poner en una hoja 3 fijas de contenido*/
.one-third{
    width: 31.5%;
    float: left;
    padding: 10px;
    text-align: center;
}

/*para coner circulo un icono que esta encima de servicios*/
.icon-wrap{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: cyan;
    border-radius:125px ;
    text-align: center;
    margin-top: 3%;
}
.icon-wrap i {
    text-align: center ;
    color: rgb(226, 39, 195);
    font-size: 450% ;
    padding: 19%;
}
/* este es para portafolio*/
.left-col{
    float: left;
    margin: 0 auto;
    width:60% ;
    height: auto;
    padding: 1%;
}
.sidebar{
    float: right;  /* esto es  para que la imagen este a la derecha de la pantalla*/
    margin: 0 auto;
    width: 30%;
    height: auto;
    padding: 1%;

}
.one-third-padding{ /*esto es para poner en una hora tres hoja SERVICIOS*/

    width: 20%;
    float: left;
    margin:2% 2% ;

}
.clearfix-padding{
    clear: both;
    padding: 2%;
}
footer{
    background: orangered ;
    width: 100%;
    overflow: auto;
}

.icon-text{
    width: 100%;
    margin: 0 auto;
}

.icon-text-icon{
    float: left;
    width: 20%;
    padding: 4%;
}
.icon-text-text{
    float: left;
    width: 60%;
    padding: /*hacia arriba*/4% /*hacia a la derecha */4% /* hacia abajo*/2% /*hacia a el lado izquierdo*/0;
}
.footer-nav{
   text-align:rigth;
}
.footer-nav a{
    font-size: 160%;
    color: palevioletred;
    font-weight: 300;

}
.footer-nav a:hover{
 color: rgb(121, 81, 8);
 
}
.social{
    text-align: center;

}
.social li{
    display: inline;
}

.social i{
    font-size: 420%;
    margin: 1%;
    padding: 5%;
    color: yellowgreen;

}

.second-footer{
    border-top: 1px solid red;
    text-align: center;
    margin: 0;
}
.second-footer p, .second-footer a{
    text-align: center;
    color: royalblue;
    font: 160%;
    line-height: 155%;
}

/* esto es para moviles, responsive********************************************* */

@media screen and (max-width: 768px){
    p{
        font-size: 130%;
    }
    
    h3{
        font-size: 130%;
    }

    header{
        height: 80px;
        position: relative;
    }

    header #log{
        margin: 15px 0 20px -25px;
    }
    #menu-icon{
        display: inline-block;
    }

    nav:hover ul{

        display: block;
    }

    nav ul, nav:active ul{

        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: fuchsia;
        border: 1px solid #a5bdcd;
        right: 20px;
        width: 30%;
        opacity: .96;

    }

    nav li{
        text-align: center;
        width: 100%;
    }

    /* esto es para mostrar una sola linea de texto en el celular  o dividirlo en 3 */
    .one-third{
        float: left;
        width: 100%;
    }
    .icon-wrap{
        height: 80px;
        width: 80px;
        margin-top: 3%;
    }

    .icon-wrap i{
        font-size: 250%;
        padding-top: 27%;
    }

    .left-col{
        width: 100%;
        padding:0;
    }
    .sidebar{
        width: 100%;
    }
    .one-third-padding{
        width: 98%;
        margin: 0;
        padding: 1%;
    }

    .icon-text-icon{
        width: 100%;
        padding: 0 0 2% 0;

    }
    .icon-text-text{
        width: 100%;
        padding: 2% 0 0 0;
        font-size: 80%;
    }
    



}